.cart {
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .cartItem {
        display: flex;
        margin-bottom: 20px;

        .itemImage {
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }

        .itemInfo {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    .cartSummary {
        margin-top: 20px;
    }
}
