@import '@/variables.scss';

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 48px;
    width: 100%;
}

@media (max-width: $medium-display-width) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 35px;
    }
}

@media (max-width: $small-display-width) {
    .container {
        gap: 25px 30px;
    }
}

@media (max-width: $extra-small-display-width) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $mini-display-width) {
    .container {
        grid-template-columns: 1fr;
    }
}
